.view-title {
    text-align: center;
    padding-top: 40px;
    color: #1E90FF;
    font-size: 40px;
}

.card-container {
    margin: 100px auto;
    max-width: 600px;
}

.card {
    border: 2px solid #7db0f3;
}

.card-header {
    color: #1E90FF;
    background-color: #e3f2fd;
    font-size: 26px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.card-body p {
    font-size: 16px;
    line-height: 1.5;
}

.btn-primary {
    min-width: 150px;
    max-width: 150px;
    background-color: #1E90FF;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #157fd6;
}

.btn-danger {
    min-width: 150px;
    max-width: 150px;
    background-color: #ff5c5c;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

.btn-danger:hover {
    background-color: #d14d4d;
}

.button-container {
    display: flex;
    justify-content: space-between; 
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-bar {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #085af3;
    border-radius: 10px;
    margin-top: 10px;
    max-width: 500px;
  }
